.App {
  /*text-align: center;*/
}
img{ 
  height: 100px;
}
.btn {
  margin: 5px;
}
body {
  /*text-align: center; */
   margin: 0;
    padding: 0;
    background-color: lighten($slast, 10);
}
div#root {
    width: 100%;
    min-height: 100vh;
    color: black;
    margin: 0;
    display: flex;
    justify-content: center;
}
.footer{
  text-align: center;
  margin-left: 15% !important;  
}
#htmlArea {
  margin-left: 10%; 
}
.active {
  background-color: blue;
}
textarea {
  background-color: #3CBC8D;
  color: white;width: 100%; height: 150px;
  margin-left: 10%;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
